#detail-container {
    display: none;
}

#detail-container.active {
    display: table-row;
    background-color: #FFFFFF;
}

#detail-container.active table {
    width: 90%;
    margin: auto;
    box-shadow:  0 0 4px 2px rgb(179 179 179 / 30%);
}

#detail-table {
    border-radius: 10px;
    background-color: var(--blue-super-light);
}

#detail-table * {
    background-color: var(--blue-super-light);
}

#detail-table td {
    padding: 4px 10px;
}

.locked .lock-option {
    display: none;
}

.locked .unlock-option {
    display: block;
}

.unlocked .lock-option {
    display: block;
}

.unlocked .unlock-option {
    display: none;
}

 {
    border: 1px solid #ccc
}


.modall table {
    width: 100%;
    border-collapse: collapse; /* Gộp các viền lại với nhau */
    border: 1px solid #ccc; /* Viền cho bảng */
    margin-bottom: 20px;
}
#featureTable,
#configTable {
    width: 100%;
    border-collapse: collapse; /* Gộp các viền lại với nhau */
    border: 1px solid #ccc; /* Viền cho bảng */
    margin-bottom: 20px;
}

#featureTable th,
#featureTable td,
#configTable th,
#configTable td {
    border: 1px solid #ccc; /* Viền cho các ô */
    padding: 8px;
    text-align: left;
}

.modall table th,
.modall table td {
    border: 1px solid #ccc; /* Viền cho các ô */
    padding: 8px;
    text-align: left;
}

.modall table input {
    padding: 4px 10px;
    border: none;
}

#featureTable input,
#configTable input {
    padding: 4px 10px;
    border: none;

}
.modall table input:focus-visible {
    border: none;
    outline: none;
}
#featureTable input:focus-visible,
#configTable input:focus-visible {
    border: none;
    outline: none;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-container img {
    width: 100px;
    height: 100px;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.toolbar {
    margin-bottom: 10px;
}

button {
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

.editor {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    white-space: pre-wrap;
}

textarea {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
}

.version-input-container {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid var(--bold-color);
    border-radius: 4px;
}

.btn-add-version {
    color: var(--bold-color);
    font-size: 20px;
}

.btn-remove-version:hover,
.btn-add-version:hover {
    opacity: 0.3;
    cursor: pointer;
}

.version-input-container input {
    padding: 4px 5px;
}

.btn-remove-version,
.btn-add-version {
    display: none;
}

.btn-remove-version.active,
.btn-add-version.active {
    display: block;
}

.btn-remove-version {
    color: crimson;
    font-size: 20px;
}

.upload__box {
    /*padding: 40px;*/
}

.upload__inputfile {
    /*width: 0.1px;*/
    /*height: 0.1px;*/
    /*opacity: 0;*/
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*z-index: -1;*/
}

.upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    /*min-width: 116px;*/
    padding: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    /*border: 2px solid;*/
    /*background-color: #4045ba;*/
    /*border-color: #4045ba;*/
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
}

.upload__btn:hover {
    /*background-color: unset;*/
    /*color: #4045ba;*/
    transition: all 0.3s ease;
}

.upload__btn-box {
    margin-bottom: 10px;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.upload__img-box {
    width: 100px;
    padding: 0 10px;
    margin-bottom: 12px;
}

.upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
}

.upload__img-close:after {
    content: '\2716'; /* This is the 'X' symbol */
    font-size: 14px;
    color: white;
}


.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

.info-input {
    border: 1px solid black !important;
}

.info-input[readonly] {
    border: none !important;
}

.update-detail-btn {
    margin: 4px auto;
    padding: 5px;
    width: fit-content;
    border: none;
    display: none;
}

.update-detail-btn.active {
    display: block;
}

.update-detail-btn:hover {
    background-color: #cccccc;
    opacity: 0.3;
    cursor: pointer;
}
