.not-confirm,
.not-confirm input,
.not-confirm select {
    background-color: rgb(255, 240, 219) !important;
}

.locked,
.locked input,
.locked select {
    background-color: rgb(255, 204, 204) !important;
}

.add-form {
    display: none;
}

.add-form.active {
    display: block;
}

