.content-container {
    background-color: var(--base-bg-color);
    padding: 20px 20px;
}

.sub-content {
    width: 100%;
    padding: 15px;
    background-color: var(--content-bg-color);
    margin-top: 15px;
    border-radius: 10px;
    box-shadow:  0 0 4px 2px rgb(179 179 179 / 30%);
}

.tab-menu {
    margin-top: 10px;
    padding-left: 0;

}

.tab-menu li {
    width:20%;
    padding: 4px 10px;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid gainsboro;
}

.tab-menu li.active,
.tab-menu li.active a {
    border-color: var(--bold-color);
    color: var(--bold-color);
}

.tab-menu li:hover,
.tab-menu li:hover a {
    border-color: var(--bold-color);
    color: var(--bold-color);
    cursor: pointer;
}

.tab-menu li a {
    font-size: 17px;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.order-container {
    margin-top: 15px;
}

.order-item {
    padding: 10px;
}

.order-detail {
    padding: 5px 10px;
    font-size: 13px;
    justify-content: space-between;
    align-items: end;
    border-radius: 7px;
}

.odd {
    background-color: var(--blue-super-light);
}

.order-detail img {
    width: 100%;
}

.seperate-horizontal-100 {
    margin-bottom: 10px;
    width: 100%;
    border: 0.5px solid var(--second-bg-color);
}

.product-name {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.product-price {
    color: var(--bold-color);
    font-size: 17px;
    font-weight: 600;
}

.product-qty {
    color: var(--bold-color);
    font-weight: 600;
}

.finish-color,
.green-color {
    color: #47d864;
}

.prepare-color,
.yellow-color {
    color: #ffc021
}

.canceled-color,
.orange-color {
    color: #ff623d;
}

.delivery-color,
.blue-color {
    color: #4154f1;

}

.waiting-color,
.gray-color {
    color: #cccccc;

}

.order-dateSet,
.order-dateFinish {
    text-decoration: underline;
    font-weight: 600;
}

.order-Price {

    color: #0d6efd;
    font-size: 20px;
}

.btn-third {
    color: #0d6efd;
    border: 1px solid #0d6efd;
    background-color: white;

}

.btn-more {
    text-align: center;
    font-size: 15px;
    color: var(--text-bold-color);
}

.btn-more:hover {
    cursor: pointer;
    background-color: var(--blue-super-light);
}

.hide {
    display: none;
}

.orderDetail-container p {
    font-size: 13px;
    color:var(--text-bold-color);

}

.orderDetail-container span {
    color: var(--text-color-2);
    font-size: 15px;
}

.o-product-item {
    margin-bottom: 10px;
    border: 1px solid var(--text-bold-color);
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

.status-1 {
    color: #ffc021 !important;
}

.status-2 {
    color: #4154f1 !important;
}

.status-3 {
    color: #47d864 !important;
}

.status-10 {
    color: #ff623d !important;
}

.status-0,
.status--99 {
    color: black !important;
}

.btn-status-10 {
    color: #fff;
    background-color: #ff623d;

}
