.bg-img {
    background-image: url('/assets/img/banner/login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.static-overlay {
    /*position: fixed;*/
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    background-color: rgba(204, 204, 204, 0.6);
    z-index: 1;
    animation: modalFadeIn ease 0.49s;
}

.otp-form,
.email-form {
    display: block;
}

.otp-form.active,
.email-form.active {
    display: flex;
}

.btn-back {
    padding: 0 5px;
    font-size: 20px;
    font-weight: 600;
    color: #fc7600;
}

.btn-back:hover {
    box-shadow:  0 0 4px 2px rgb(179 179 179 / 30%);
    cursor: pointer;
}

/* otp */
.otp-form .otp-input{
    border:none;
    border-bottom:2px solid transparent;
    border-radius: 0;
    font-size: 30px;
    padding: 5px;
    outline:none!important;
    font-weight: 600;
    text-align: center;
    width: 15%;
    color: #fc7600;



}

.otp-form input.empty {
    outline:0 !important;
    box-shadow: none !important;
    border-bottom:2px solid red !important;
    outline:none!important;
}

.otp-form input:active,
.otp-form input:focus
{
    outline:0px !important;
    box-shadow: none !important;
    border-bottom:2px solid transparent;
    outline:none!important;
}

/* Chrome, Safari, Edge, Opera */
.otp-form input::-webkit-outer-spin-button,
.otp-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.otp-form input[type=number] {
    -moz-appearance: textfield;
}


#OTP_Div{
    display: flex;
    justify-content: space-around;
    grid-gap: 10px;
    padding: 5%;
}

.note {
    font-size: 12px;
    font-style: italic;
    color: var(--bold-color);
}

#btn-resend,
#countdown-container {
    display: none;
}

#btn-resend.active,
#countdown-container.active {
    display: block;
}

#countdown {
    color: var(--bold-color);
    font-weight: 600;
}

/* thiet lap mat khau moi */
.btn-save {
    background-color: #fc7600;
    border-color: #fc7600;
}

.btn-save:hover {
    opacity: 0.3;
    background-color: #fc7600;
    border-color: #fc7600;
}

/* otp message */
.otp-message {
    position: fixed;
    display: none;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(204, 204, 204, 0.6);
}

.otp-message.active {
    display: flex;
}