/* toast */
#toast,
.toast {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 9999;
}

.toastt {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    margin-top: 16px;
    transition: all linear 0.7s;

}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }

}

.toast--success {
    border-color: #47d864;

}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;

}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;

}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;

}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast__icon {
    font-size: 24px;
}

.toast__close,
.toast__icon {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;

}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 4px;
    line-height: 1.6;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.toast__close:hover {
    opacity: 0.6;
}

#toast-2 {
    position: fixed;
    z-index: 9999;
    top: 70px;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);


}

.toastt-2 {
    margin: auto 0;
    background-color: white;
    border-radius: 2px;
    padding: 0 20px;
    transition: all linear 0.7s;

}
@keyframes fadeOut {
    to {
        opacity: 0;
    }

}

.toast-2--success {
    background-color: #47d864;
}

.toast-2--error {
    background-color: #ff623d;
}

.toast-2--info {
    background-color: #2f86eb;

}

.toast-2__msg {
    font-size: 14px;
    color: white;
    margin-top: 4px;
    line-height: 1.6;
}